<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.msht.master">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 推送服务 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".Application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".launchActivity"
            android:theme="@style/LauncherThemes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx926364ece1cbfa7b" />
                //写入你的appid
            </intent-filter>
        </activity>
        <activity android:name=".FunctionView.MyWallet" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomePage" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Findpassword" />
        <activity android:name=".myview.AboutMine" />
        <activity android:name=".FunctionView.ApplyIdentify" />
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/customTheme" />
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/customTheme" />
        <service
            android:name=".Common.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <activity android:name=".FunctionView.BankCard" />
        <activity android:name=".FunctionView.AddBankCard" />
        <activity android:name=".FunctionView.QualityAssurance" />
        <activity android:name=".FunctionView.WithDraw" />
        <activity android:name=".FunctionView.DrawSuccess" />
        <activity android:name=".FunctionView.RewordAndPunishHistory" />
        <activity android:name=".FunctionView.PriceBook" />
        <activity android:name=".myview.FeedBack" />
        <activity android:name=".HtmlWeb.SeePrice" />
        <activity android:name=".HtmlWeb.BuyInsurance" />
        <activity android:name=".FunctionView.AddCertificate" />
        <activity android:name=".HtmlWeb.FranchisingAgreement" />
        <activity android:name=".FunctionView.MyEvaluteActivity" />
        <activity android:name=".FunctionView.MyInform" />
        <activity android:name=".FunctionView.WithDrawRecord" />
        <activity android:name=".FunctionView.WorkOrderDetail" />
        <activity android:name=".FunctionView.SubmitBill" />
        <activity android:name=".FunctionView.MyData" />
        <activity android:name=".FunctionView.SelectBankCard" />
        <activity android:name=".FunctionView.LearnRule" />
        <activity android:name=".FunctionView.MySkill" />
        <activity android:name=".FunctionView.MyCertificate" />
        <activity android:name=".HtmlWeb.Joinus" />
        <activity android:name=".FunctionView.ReplacePay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx926364ece1cbfa7b" />
                //写入你的appid
            </intent-filter>
        </activity>

        <!-- Ping++ SDK -->
        <activity
            android:name="com.pingplusplus.android.PaymentActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:configChanges" />

        <!-- 微信支付 -->
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.pingplusplus.android.PaymentActivity" />

        <!-- 支付宝 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 银联支付 -->
        <activity android:name="com.unionpay.uppay.PayActivity" />
        <activity android:name=".HtmlWeb.Agreement" />
        <!-- 配置友盟的消息推送 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5833e655b27b0a51b1000a80" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="b1039518e98591859dace4479bbf04ee" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity android:name=".FunctionView.SelectDistrict" />
        <activity android:name=".FunctionView.SelectCity" />
        <activity android:name=".FunctionView.UploadingPic" />
        <activity android:name=".FunctionView.FinishWork" />
        <activity android:name=".FunctionView.EnlargePicActivity" />
        <activity android:name=".FunctionView.NewPriceBook" />
        <activity android:name=".FunctionView.PriceTable" />
        <activity android:name=".FunctionView.SearchOrder" />
        <activity android:name=".FunctionView.ConvertOrderReson"></activity>
    </application>
</manifest>